{% extends "mailing/base.html" %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Система управления рассылками</h1>
    <p class="lead">Вход в личный кабинет</p>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    {% if request.GET.blocked %}
                    <div class="alert alert-danger">
                        Ваш аккаунт заблокирован. Обратитесь к администратору.
                    </div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {# Блок для вывода ошибок формы #}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {% if "blocked:" in error %}
                                    {{ error|cut:"blocked:" }}
                                {% else %}
                                    Пожалуйста, введите правильные Email и пароль.
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-outline-primary">
                        Войти
                    </button>
                    <div class="text-center mt-3 mb-3">
                        <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}